.heading {
  font-size: 50px;
  font-family: roboto;
  text-align: center;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 30%;
  align-items: center;
}
